main{
    max-width: 1000px;
    margin: auto;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
footer{
    border-top: 1px solid #ccc;
    position: relative;
    bottom: 1px;
    
    
    
}
header{
    border-bottom: 1px solid #ccc;
    position: relative;
    top: 1px;
}
nav{
    display: flex;
    gap: 20px;
}
.hero a{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(0, 255, 255);
    color: rgb(0, 6, 12);
    padding: 12px 12px;

}
section{
    margin-bottom: 40px;
}
article{
    background-color: rgb(6, 228, 248);
    padding: 15px 15px;
}
#features {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  
}

.login-form{
    max-width: 200px;
    padding: 20px 20px;
}
label{
    padding: 15px 15px;
}


